/*ul {*/
/*  margin: 0px;*/
/*  padding: 0px;*/
/*}*/
/*.footer-section {*/
/*  background: #151414;*/
/*  position: relative;*/
/*}*/
/*.footer-cta {*/
/*  border-bottom: 1px solid #373636;*/
/*}*/
/*.single-cta i {*/
/*  color: #ff5e14;*/
/*  font-size: 30px;*/
/*  float: left;*/
/*  margin-top: 8px;*/
/*}*/
/*.cta-text {*/
/*  padding-left: 15px;*/
/*  display: inline-block;*/
/*}*/
/*.cta-text h4 {*/
/*  color: #fff;*/
/*  font-size: 20px;*/
/*  font-weight: 600;*/
/*  margin-bottom: 2px;*/
/*}*/
/*.cta-text span {*/
/*  color: #757575;*/
/*  font-size: 15px;*/
/*}*/
/*.footer-content {*/
/*  position: relative;*/
/*  z-index: 2;*/
/*}*/
/*.footer-pattern img {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  height: 330px;*/
/*  background-size: cover;*/
/*  background-position: 100% 100%;*/
/*}*/
/*.footer-logo {*/
/*  margin-bottom: 30px;*/
/*}*/
/*.footer-logo img {*/
/*  max-width: 200px;*/
/*}*/
/*.footer-text p {*/
/*  margin-bottom: 14px;*/
/*  font-size: 14px;*/
/*  color: #7e7e7e;*/
/*  line-height: 28px;*/
/*}*/
/*.footer-social-icon span {*/
/*  color: #fff;*/
/*  display: block;*/
/*  font-size: 20px;*/
/*  font-weight: 700;*/
/*  font-family: 'Poppins', sans-serif;*/
/*  margin-bottom: 20px;*/
/*}*/
/*.footer-social-icon a {*/
/*  color: #fff;*/
/*  font-size: 16px;*/
/*  margin-right: 15px;*/
/*}*/
/*.footer-social-icon i {*/
/*  height: 40px;*/
/*  width: 40px;*/
/*  text-align: center;*/
/*  line-height: 38px;*/
/*  border-radius: 50%;*/
/*}*/
/*.facebook-bg{*/
/*  background: #3B5998;*/
/*}*/
/*.twitter-bg{*/
/*  background: #55ACEE;*/
/*}*/
/*.google-bg{*/
/*  background: #DD4B39;*/
/*}*/
/*.footer-widget-heading h3 {*/
/*  color: #fff;*/
/*  font-size: 20px;*/
/*  font-weight: 600;*/
/*  margin-bottom: 40px;*/
/*  position: relative;*/
/*}*/
/*.footer-widget-heading h3::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  left: 0;*/
/*  bottom: -15px;*/
/*  height: 2px;*/
/*  width: 50px;*/
/*  background: #ff5e14;*/
/*}*/
/*.footer-widget ul li {*/
/*  display: inline-block;*/
/*  float: left;*/
/*  width: 50%;*/
/*  margin-bottom: 12px;*/
/*}*/
/*.footer-widget ul li a:hover{*/
/*  color: #ff5e14;*/
/*}*/
/*.footer-widget ul li a {*/
/*  color: #878787;*/
/*  text-transform: capitalize;*/
/*}*/
/*.subscribe-form {*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/
/*.subscribe-form input {*/
/*  width: 100%;*/
/*  padding: 14px 28px;*/
/*  background: #2E2E2E;*/
/*  border: 1px solid #2E2E2E;*/
/*  color: #fff;*/
/*}*/
/*.subscribe-form button {*/
/*  position: absolute;*/
/*  right: 0;*/
/*  background: #ff5e14;*/
/*  padding: 13px 20px;*/
/*  border: 1px solid #ff5e14;*/
/*  top: 0;*/
/*}*/
/*.subscribe-form button i {*/
/*  color: #fff;*/
/*  font-size: 22px;*/
/*  transform: rotate(-6deg);*/
/*}*/
/*.copyright-area{*/
/*  background: #202020;*/
/*  padding: 25px 0;*/
/*}*/
/*.copyright-text p {*/
/*  margin: 0;*/
/*  font-size: 14px;*/
/*  color: #878787;*/
/*}*/
/*.copyright-text p a{*/
/*  color: #ff5e14;*/
/*}*/
/*.footer-menu li {*/
/*  display: inline-block;*/
/*  margin-left: 20px;*/
/*}*/
/*.footer-menu li:hover a{*/
/*  color: #ff5e14;*/
/*}*/
/*.footer-menu li a {*/
/*  font-size: 14px;*/
/*  color: #878787;*/
/*}*/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Times New Roman';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
