<!--<footer class="footer-section">-->
<!--  <div class="container">-->
<!--    <div class="footer-cta pt-5 pb-5">-->
<!--      <div class="row">-->
<!--        <div class="col-xl-4 col-md-4 mb-30">-->
<!--          <div class="single-cta">-->
<!--            <i class="fas fa-map-marker-alt"></i>-->
<!--            <div class="cta-text">-->
<!--              <h4>Find us</h4>-->
<!--              <span>1010 Avenue, sw 54321, chandigarh</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-4 col-md-4 mb-30">-->
<!--          <div class="single-cta">-->
<!--            <i class="fas fa-phone"></i>-->
<!--            <div class="cta-text">-->
<!--              <h4>Call us</h4>-->
<!--              <span>9876543210 0</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-4 col-md-4 mb-30">-->
<!--          <div class="single-cta">-->
<!--            <i class="far fa-envelope-open"></i>-->
<!--            <div class="cta-text">-->
<!--              <h4>Mail us</h4>-->
<!--              <span>mail@info.com</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="footer-content pt-5 pb-5">-->
<!--      <div class="row">-->
<!--        <div class="col-xl-4 col-lg-4 mb-50">-->
<!--          <div class="footer-widget">-->
<!--            <div class="footer-logo">-->
<!--              <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>-->
<!--            </div>-->
<!--            <div class="footer-text">-->
<!--              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing-->
<!--                elit,Lorem ipsum dolor sit amet.</p>-->
<!--            </div>-->
<!--            <div class="footer-social-icon">-->
<!--              <span>Follow us</span>-->
<!--              <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>-->
<!--              <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>-->
<!--              <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">-->
<!--          <div class="footer-widget">-->
<!--            <div class="footer-widget-heading">-->
<!--              <h3>Useful Links</h3>-->
<!--            </div>-->
<!--            <ul>-->
<!--              <li><a href="#">Home</a></li>-->
<!--              <li><a href="#">about</a></li>-->
<!--              <li><a href="#">services</a></li>-->
<!--              <li><a href="#">portfolio</a></li>-->
<!--              <li><a href="#">Contact</a></li>-->
<!--              <li><a href="#">About us</a></li>-->
<!--              <li><a href="#">Our Services</a></li>-->
<!--              <li><a href="#">Expert Team</a></li>-->
<!--              <li><a href="#">Contact us</a></li>-->
<!--              <li><a href="#">Latest News</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">-->
<!--          <div class="footer-widget">-->
<!--            <div class="footer-widget-heading">-->
<!--              <h3>Subscribe</h3>-->
<!--            </div>-->
<!--            <div class="footer-text mb-25">-->
<!--              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>-->
<!--            </div>-->
<!--            <div class="subscribe-form">-->
<!--              <form action="#">-->
<!--                <input type="text" placeholder="Email Address">-->
<!--                <button><i class="fab fa-telegram-plane"></i></button>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="copyright-area">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-xl-6 col-lg-6 text-center text-lg-left">-->
<!--          <div class="copyright-text">-->
<!--            <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">-->
<!--          <div class="footer-menu">-->
<!--            <ul>-->
<!--              <li><a href="#">Home</a></li>-->
<!--              <li><a href="#">Terms</a></li>-->
<!--              <li><a href="#">Privacy</a></li>-->
<!--              <li><a href="#">Policy</a></li>-->
<!--              <li><a href="#">Contact</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->


<footer class="footer">
  <div class="footer__addr">
<!--    <h1 class="footer__logo">MEDI Dispenser Team</h1>-->

    <h2>Contact</h2>

    <address>
      5534 Somewhere In. The World 22193-10212<br>

      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Online</a>
        </li>

        <li>
          <a href="#">Print</a>
        </li>

        <li>
          <a href="#">Alternative Ads</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Hardware Design</a>
        </li>

        <li>
          <a href="#">Software Design</a>
        </li>

        <li>
          <a href="#">Digital Signage</a>
        </li>

        <li>
          <a href="#">Automation</a>
        </li>

        <li>
          <a href="#">Artificial Intelligence</a>
        </li>

        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2019 Something. All rights reserved.</p>
    <div class="legal__links">
      <span>Made with <span class="heart">♥</span> by Abhi Kumawat</span>
    </div>
  </div>
</footer>
