mat-form-field{
  width: 100%;
}
mat-form-field{
  width: 400px;
}
mat-card-title{
  text-align: center;
}
.btnX {
  background-color: #2A265F;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: relative;
  letter-spacing: 1px;
}

.btnY {
  background-color: #2A265F;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  /*position: absolute;*/
  float: right;
  letter-spacing: 1px;
}
