<div class="container-fluid" style="align-content: center; justify-content: center">
  <h2 class="bg-dark" style="color: white;text-align: center">Add Event to your Calendar</h2>
  <form [formGroup]="myForm" (ngSubmit)="Submit(myForm)">
    <p>
      <mat-form-field appearance = "outline">
        <mat-label>Event Title</mat-label>
        <input matInput placeholder="Event Name" formControlName="name" id="name">
      </mat-form-field>
    </p>
    <mat-form-field appearance = "outline">
      <mat-label>Dosage Amount</mat-label>
      <mat-select formControlName="dosage" id="dosage">
        <mat-option *ngFor="let num of dosageSelectionOptions" [value]="num.value">
          {{num.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <input formControlName="time" id="time" type="button" class="btnX bg-dark" style="color:white" atp-time-picker value="12:00"/>
    </div>
    <p>
      <button type="submit" class="btnY btn-primary" mat-stroked-button color="primary">Add to calendar</button>
    </p>
  </form>
 </div>
