<div class="cards-list">

  <div class="card 1">
    <div class="card_image">
      <img src="https://png.pngtree.com/png-vector/20190803/ourlarge/pngtree-medicine-pill-capsule-drugs-tablet-flat-color-icon-vector-png-image_1647346.jpg" />
    </div>
    <div class="card_title">
<!--      <p>Active Pills</p>-->
    </div>
  </div>

  <div class="card 3">
    <div class="card_image">
      <img src="https://i.pinimg.com/originals/3f/ca/c7/3fcac732d0d19611b74aa73761f07845.png" />
    </div>
    <div class="card_title">
<!--      <p>Messages</p>-->
    </div>
  </div>

  <div class="card 2">
    <div class="card_image">
      <img src="https://www.freeiconspng.com/uploads/settings-icon-3.png" />
    </div>
    <div class="card_title">
<!--      <p>Settings</p>-->
    </div>
  </div>

  <div class="card 4">
    <div class="card_image">
      <img src="https://image.freepik.com/free-vector/contact-us-woman-with-headphones-microphone-with-computer_113065-280.jpg"/>
    </div>
    <div class="card_title">
<!--      <p>Contact Us</p>-->
    </div>
  </div>

  <div class="card 5">
    <div class="card_image">
      <img src="https://www.netclipart.com/pp/m/104-1044961_calendar-icon-png-date-events-icon-white-png.png"/>
    </div>
    <div class="card_title">
      <!--      <p>Contact Us</p>-->
    </div>
  </div>

</div>
