<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="evo-calendar.min.js"></script>

<div style="">
  <app-navbar></app-navbar>
</div>

<div class="container-fluid" style="width: 90%;">
  <div class="" style="padding-top: 100px; padding-bottom: 5%;">
<!--    <app-userinfocard></app-userinfocard>-->
    <app-pillsliders></app-pillsliders>

  </div>

<!--  <div id="calendar"></div>-->
<!--  <div class="pt-3 pb-2 mb-3">-->
<!--    <button class="btn bg-primary" style="color: aliceblue; margin: 0.2%" (click)="this.handleClick()">Add</button>-->
<!--    <button class="btn bg-dark" style="color: aliceblue; margin: 0.2%">Edit</button>-->
<!--    <button class="btn bg-secondary" style="color: aliceblue; margin: 0.2%">Delete</button>-->
<!--  </div>-->
</div>

<app-footer></app-footer>
