@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}


.console-log {
  position: relative;
  width: 100%;
  padding: 26px 10px 10px 10px;
  background-color: #fff;
  border-radius: 8px;
  margin: 10px auto 30px auto;
  -webkit-box-shadow: 0 10px 20px -5px rgba(19, 31, 51, 0.65);
  box-shadow: 0 10px 20px -5px rgba(19, 31, 51, 0.65);
}
.console-log::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff5f56;
  -webkit-box-shadow: 16px 0px 0px #ffbd2e, 32px 0px 0px #27c93f;
  box-shadow: 16px 0px 0px #ffbd2e, 32px 0px 0px #27c93f;
}
.console-log.--md {
  width: 65%;
}
.console-log.--sm {
  width: 50%;
}
.console-log > .log-content {
  overflow: auto;
}

/* CSS VARIABLES */
